body {
    background-color: #F1ECC3;
    color: #653614;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}

/* div {
    margin: 0;
    /* text-align: center; 
} */
hr {
    border: dotted #653614 6px;
    border-bottom: none;
    width: 5%;
    text-align: center;
}

.profile {
    padding: 50px;
}
.profile-img {
    border-radius: 100%;
}

.skills {
    margin-top: 50px;

}
h1 {
    color: #4D873E;
    font-size: 5.62em;
    font-family: 'Sacramento', cursive;
    line-height: 2;
    margin: 3.125rem auto 0 auto;
}

h2,h3 {
    color: #7CB74C;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
}

h2 {
    font-size: 2.5rem;
}

.top-container {
    
    padding-top: 100px;
    position: relative;
    /* background-color: burlywood; */
}
.middle-container {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    
    /* background-color: blueviolet; */
}

.bottom-container {
    background-color: #c6c29f;
    padding: 50px 0px 20px;
    /* background-color:darkseagreen; */
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.skills-icon-flutter {
    float: left;
    margin-right: 30px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.skills-icon-web {
    float: right;
    margin-left: 30px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

span:hover {
    text-decoration: underline #653614;
    color: #4D873E;
}

.skill-row {
    margin: 50px auto 50px auto;
    padding: 30px 0px 30px 0px;
    text-align: left;
    width: 50%;
    line-height: 2;
}

.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    background: #028545;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    text-decoration: none;
}

.footer-link {
    color: darkslategray;
}
.footer-link:hover {
    color:#4D873E;
}

.contact-me {
    padding: 20px;
}